<launch>

<!-- Started nodelet manager -->
<arg name="nodelet_manager_name" default="standalone_nodelet"/>

<!-- Starting first nodelet -->

  <node pkg="nodelet" type="nodelet" name="VehicleVisualOdometryManagerNodelet"
        args="load px4_micrortps_ros/VehicleVisualOdometryManagerNodelet $(arg nodelet_manager_name)"
        output="screen">
  </node>

</launch>
