<launch>

<!-- Started nodelet manager -->

  <node pkg="nodelet" type="nodelet" name="manager_offboard_control_mode"  args="manager" output="screen"/>

<!-- Starting first nodelet -->

  <node pkg="nodelet" type="nodelet" name="OffboardControlModePublisherNodelet" 
        args="load px4_micrortps_ros/OffboardControlModePublisherNodelet manager_offboard_control_mode" 
        output="screen">
  </node>		
	

</launch>