<launch>

<!-- Started nodelet manager -->

  <node pkg="nodelet" type="nodelet" name="manager_vehicle_command"  args="manager" output="screen"/>

<!-- Starting first nodelet -->

  <node pkg="nodelet" type="nodelet" name="VehicleCommandSubscriberNodelet" 
        args="load px4_micrortps_ros/VehicleCommandSubscriberNodelet manager_vehicle_command" 
        output="screen">
  </node>
	

</launch>
