<launch>

<!-- Started nodelet manager -->

  <node pkg="nodelet" type="nodelet" name="manager_vehicle_local_position_setpoint"  args="manager" output="screen"/>

<!-- Starting first nodelet -->

  <node pkg="nodelet" type="nodelet" name="VehicleLocalPositionSetpointSubscriberNodelet" 
        args="load px4_micrortps_ros/VehicleLocalPositionSetpointSubscriberNodelet manager_vehicle_local_position_setpoint" 
        output="screen">
  </node>
	

</launch>
